services:
  m2phpfpm:
    build:
      context: ./phpfpm
      dockerfile: Dockerfile
    networks:
      - magento
    user: "1000:1000"  # Use host user (michael)
    volumes:
      - ./src:/var/www/html:Z  # Z for SELinux on M2
    environment:
      - UMASK=0022  # Default permissions: 755 for dirs, 644 for files
  m2nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    networks:
      - magento
    volumes:
      - ./src:/var/www/html
      - ./nginx/logs:/var/log/nginx/
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - 8000:80
      - 8443:443
  m2percona:
    networks:
      - magento
    image: percona
    environment:
      - MYSQL_ROOT_PASSWORD=magento
      - MYSQL_DATABASE=magento
      - MYSQL_PASSWORD=magento
      - MYSQL_USER=magento
    volumes:
      - ./mysql/data:/var/lib/mysql
  m2adminer:
    networks:
      - magento
    image: adminer
    ports:
      - 8080:8080
  m2opensearch:
    networks:
      - magento
    image: opensearchproject/opensearch:2.11.0
    environment:
      - discovery.type=single-node
      - OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m
      - DISABLE_SECURITY_PLUGIN=true
    ports:
      - 9200:9200
      - 9300:9300
  m2rmq:
    networks:
      - magento
    image: rabbitmq:3-management
    environment:
      - RABBITMQ_DEFAULT_USER=magento
      - RABBITMQ_DEFAULT_PASS=magento
    ports:
      - 15672:15672
  m2mailhog:
    image: mailhog/mailhog:v1.0.0
    ports:
      - "5025:1025"
      - "6025:8025"
    networks:
      - magento
networks:
  magento:
    driver: bridge
