services:
  m2phpfpm:
    build:
      context: ./phpfpm
      dockerfile: Dockerfile
    networks:
      - magento
    user: "1000:1000"  # Use host user (michael)
    volumes:
      - ./src:/var/www/html:Z  # Z for SELinux on M2
    environment:
      - UMASK=0022  # Default permissions: 755 for dirs, 644 for files
  m2nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    networks:
      - magento
    depends_on:
      m2phpfpm:
        condition: service_started
    volumes:
      - ./src:/var/www/html
      - ./nginx/logs:/var/log/nginx/
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    ports:
      - 8000:80
      - 8443:443
  m2mysql:
    networks:
      - magento
    image: mysql:8.0
    command:
      - --innodb_buffer_pool_size=512M
      - --max_allowed_packet=256M
      - --log_bin_trust_function_creators=1
    environment:
      - MYSQL_ROOT_PASSWORD=magento
      - MYSQL_DATABASE=magento
      - MYSQL_PASSWORD=magento
      - MYSQL_USER=magento
    volumes:
      - ./mysql/data:/var/lib/mysql
    ports:
      - 3306:3306
  m2adminer:
    networks:
      - magento
    image: adminer
    ports:
      - 8081:8080
  m2opensearch:
    networks:
      - magento
    image: opensearchproject/opensearch:2.11.0
    environment:
      - discovery.type=single-node
      - OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m
      - DISABLE_SECURITY_PLUGIN=true
    ports:
      - 9200:9200
      - 9300:9300
  m2rmq:
    networks:
      - magento
    image: rabbitmq:3-management
    environment:
      - RABBITMQ_DEFAULT_USER=magento
      - RABBITMQ_DEFAULT_PASS=magento
    ports:
      - 15672:15672
  m2mailhog:
    image: mailhog/mailhog:v1.0.0
    ports:
      - "5025:1025"
      - "6025:8025"
    networks:
      - magento
networks:
  magento:
    driver: bridge
